{% extends 'layout.html' %}

{% block title %} New post {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="card">
    <div class="card-body">
      <h6 class="card-title">New Post</h6>
      <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
        <form method=post>
            {{ render_field(form.title) }}
            {{ render_field(form.body) }}
            {{ render_field(form.tags) }}
            <input type=submit value=Post class="btn btn-primary">
          </form>
      </div>
    </div>
  </div>

{% endblock %}  