{% extends 'layout.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

{# name and bio #}

<div class="jumbotron bg-transparent mb-0 radius-0">
    <header class="masthead text-center">
        <h1 class="display-2 mb-0">Michał Lewandowsk<span class="vim-caret">i</span></h1>
        <h2 class="display-4 text-success">Python, data & ML nerd.</h2>
    </header>
    <p class="mt-5 text-grey text-spacey">I'm a former English-Russian-Polish Translator & Interpreter turned into experienced Data Analyst with a demonstrated history of working in the pharmaceuticals industry. My tech stack is PowerBI, Python and SQL. I'm a strong information technology enthusiast with a Postgraduate Degree focused in Big Data - Analytics & Society from Collegium Da Vinci.</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ht-tm-element card border-primary mb-3 text-center">
            <div class="card-body">
                <h4 class="card-title">Projects</h4>
                <p>Coming soon</p>
                <a class="btn btn-outline-primary" href="https://github.com/Lewandowski-commits/">
                    <i class="fa-brands fa-github"></i>
                    In the meanwhile
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ht-tm-element card border-primary mb-3 text-center">
            <div class="card-body">
                <h4 class="card-title">Blog</h4>
                <p>Coming soon</p>
                <button class="btn btn-outline-primary" href="https://www.linkedin.com/in/enrulewandowski/">
                    <i class="fa-brands fa-linkedin"></i>
                    Social media spam
                  </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}  