{% extends 'layout.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

{# name and bio #}

<div class="jumbotron bg-transparent mb-0 radius-0">
    <header class="masthead text-center">
        <h1 class="display-2 mb-0">Michał Lewandowsk<span class="vim-caret">i</span></h1>
        <h2 class="display-4 text-success">Python, data & ML nerd.</h2>
    </header>
    <p class="mt-5 text-grey text-spacey">I'm a former English-Russian-Polish Translator & Interpreter turned into experienced Data Analyst with a demonstrated history of working in the pharmaceuticals industry. My tech stack is PowerBI, Python and SQL. I'm a strong information technology enthusiast with a Postgraduate Degree focused in Big Data - Analytics & Society from Collegium Da Vinci.</p>
</div>
{% endblock %}  