<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3d50be8898.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body font-family="Roboto" class="bg-slate-900 text-white">
{# navbar #}

<nav class="flex items-center justify-end flex-wrap p-6 m-1 rounded-md">
  {% if 'username' in session %}
    
    <a href="#">
      <button class="border rounded-md p-2 border-violet-800 text-violet-800 hover:text-white hover:bg-violet-800">
        <i class="fa-solid fa-user-check"></i>
        {{ session['username'] }}
      </button>
    </a>
    <a href={{ url_for('logout') }}>
      <button class="border rounded-md p-2 border-rose-800 text-rose-800 hover:text-white hover:bg-rose-800">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </button>
    </a>
  {% else %}
    <a href={{ url_for('login') }}>
      <button class="border rounded-md p-2 border-violet-800 text-violet-800 hover:text-white hover:bg-violet-800">
        <i class="fa-solid fa-user-lock"></i>
        Login
    </button>
    </a>
  {% endif %}
</nav>

{# flash alerts #}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="ht-tm-element alert alert-dismissible fade show {{ message[0] }} role="alert">{{ message[1] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{# main page content #}
{% block content %}{% endblock %}

{# footer #}
<footer class="text-center text-lg-start text-muted navbar">
    <div class="card-body">
      <a class="btn btn-outline-primary" href="https://github.com/Lewandowski-commits/">
        <i class="fa-brands fa-github"></i>
        Git
      </a>
      <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/enrulewandowski/">
        <i class="fa-brands fa-linkedin"></i>
        LinkedIn
      </a>
      <a class="btn btn-outline-primary" href="mailto:michalewandowski0@gmail.com">
        <i class="fa-solid fa-paper-plane"></i>
        E-mail
      </a>
    </div>
</footer>

</body>
</html>