{% extends 'base.html' %}

{% block content %}

<div class="vh-100 d-flex align-items-center row">
    <div class="col">
        <h1 class="display-1">Michał Lewandowsk<span class="vim-caret">i</span></h1>
        <h2 class="lead text-success">📈 BI Developer. 🐍 Python enthusiast.</h2><a
            class="ht-tm-element btn btn-shadow btn-primary" href="#about-section">About</a>
    </div>
</div>

<div class="vh-100 justify-content-center row">
    <div class="col">
        <h1 id="about-section" class="display-2">About me</h1>
        <p>I'm a former English-Russian-Polish Translator &amp; Interpreter turned into experienced Data Analyst with a
            demonstrated history of working in the pharmaceuticals industry. Skilled in PowerBI, Python, and SQL. </p>
        <p>I'm a strong information
            technology enthusiast with a Postgraduate Degree focused in Big Data - Analytics &amp; Society from
            Collegium Da Vinci.
        </p>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="accordion" id="accordion-timeline">
                        {% for position in positions %}
                        <div class="timeline-5 right-5">
                            <div class="card">
                                <div class="p-4 card-body">
                                    <div class="accordion-header" id="heading-{{ position['partition_key'] }}">
                                        <h5 class="display-5">{{ position['job_title'] }} @ {{ position['company'] }}
                                        </h5>
                                        <span class="small text-muted"><i class="fas fa-clock me-1"
                                                aria-hidden="true"></i>
                                            {{ position['start_date'] }}</span>
                                    </div>
                                    <div class="accordion-item">
                                        <div id="collapse-{{ position['partition_key'] }}"
                                            class="accordion-collapse collapse" aria-labelledby="headingOne"
                                            data-bs-parent="#accordion-timeline">
                                            <div class="accordion-body">
                                                {{ position ['description'] }}
                                            </div>
                                        </div>
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-{{ position['partition_key'] }}"
                                            aria-expanded="true"
                                            aria-controls="collapse-{{ position['partition_key'] }}">
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<a href="/dashapp/" class="dash-link">
    <span>Embdedded Plotly Dash</span>
</a>

{% endblock %}