{% extends 'base.html' %}

{% block content %}

<div class="vh-100 d-flex justify-content-center align-items-center row">
    <div class="col-8 col">
        <h1 class="display-1">Michał Lewandowsk<span class="vim-caret">i</span></h1>
        <h2 class="lead text-success">📈 BI Developer. 🐍 Python enthusiast.</h2><a
            class="ht-tm-element btn btn-shadow btn-primary" href="#about-section">About</a>
    </div>
</div>

<div class="vh-100 justify-content-center row">
    <div class="col-10 col">
        <h1 id="about-section" class="display-2">About me</h1>
        <p>I'm a former English-Russian-Polish Translator &amp; Interpreter turned into experienced Data Analyst with a
            demonstrated history of working in the pharmaceuticals industry. Skilled in PowerBI, Python, Business
            Analytics, Customer Service, Performance Dashboards, and Emotional Intelligence. Strong information
            technology enthusiast with a Postgraduate Degree focused in Big Data - Analytics &amp; Society from
            Collegium Da Vinci.</p>
        <section class="gradient-custom-5">
            <div class="container py-5">
                <div class="main-timeline-5">
                    <div class="timeline-5 right-5">
                        <div class="card">
                            <div class="p-4 card-body">
                                <h5 class="display-5">BI Developer</h5><span class="small text-muted"><i
                                        class="fas fa-clock me-1" aria-hidden="true"></i> 2022-08-01</span>
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" style="margin-top: 0rem; margin-bottom: 0rem;">
                                            <button type="button" aria-expanded="false"
                                                class="accordion-button collapsed">More</button>
                                        </h2>
                                        <div class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <p class="mt-2 mb-0">My current role.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-5 right-5">
                        <div class="card">
                            <div class="p-4 card-body">
                                <h5 class="display-5">Data Analyst/PowerBI Developer</h5><span
                                    class="small text-muted"><i class="fas fa-clock me-1" aria-hidden="true"></i>
                                    2021-04-01</span>
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" style="margin-top: 0rem; margin-bottom: 0rem;">
                                            <button type="button" aria-expanded="false"
                                                class="accordion-button collapsed">More</button>
                                        </h2>
                                        <div class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <p class="mt-2 mb-0">I developed holistic PowerBI datasets/data models,
                                                    reports and apps, featuing: multi-measure visuals (DAX), dynamic
                                                    measure formatting (calculation groups), hierarchical visuals
                                                    (adaptable to stakeholder seniority level/granularity of their area
                                                    of interest), security roles utilising Row and Object Level
                                                    Security, etc., which allowed the business to identify at least
                                                    33.93M € annualized margin savings. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-5 right-5">
                        <div class="card">
                            <div class="p-4 card-body">
                                <h5 class="display-5">Regulatory Data Management Specialist</h5><span
                                    class="small text-muted"><i class="fas fa-clock me-1" aria-hidden="true"></i>
                                    2018-08-01</span>
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" style="margin-top: 0rem; margin-bottom: 0rem;">
                                            <button type="button" aria-expanded="false"
                                                class="accordion-button collapsed">More</button>
                                        </h2>
                                        <div class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <p class="mt-2 mb-0">Managed clinical and commercial Rx regulatory data
                                                    under tight timelines. Organised and co-led cross-business (Pharma
                                                    and Vaccines) data quality verification project. Built several
                                                    automation tools for internal projects using MS Excel. Trained both
                                                    internal team members, as well as intra-company stakeholders on the
                                                    use of Veeva Regulatory Information Management Vault.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<a href="/dashapp/" class="dash-link">
    <span>Embdedded Plotly Dash</span>
</a>

{% endblock %}